
<div class="manage">

    <h1>{{ (questions|filter:themeFilter).length }} Réponse(s)</h1>

    <!--
    <button class="btn btn-primary" ng-click="ask()"><i class="icon-plus icon-white"></i> Ajouter une question</button>
    -->
    

    <div class="btn-toolbar">
      <button class="btn btn-primary" ng-click="refresh()"><i class="icon-retweet icon-white"></i> Actualiser</button>
      <div class="btn-group">
        <button class="btn" ng-click="showQuestions()" ng-class="{active: questionType=='question'}">Questions</button>
        <button class="btn" ng-click="showSyntheses()" ng-class="{active: questionType=='synthèse'}">Synthèses</button>
      </div>
      <button class="btn" id='download' ng-click="download(this)" download="export"><i class="icon-download icon"></i> Exporter</button>
    </div>

    <br><br>
    <table id="questions" class="table table-striped">
        <tr id='question-{{ question.id }}' ng-repeat="question in questions|filter:themeFilter">
            <td align="center">
                <div ng-show="questionType!='question'" class="theme">{{ question.theme }}</div>
                <textarea autofocus class="{{ questionType }}" ng-model="question.text" ng-model-onblur ng-change="update(question)"></textarea>
            </td>
            <td width="120" align="center">
                <div ng-show="questionType=='synthèse'">
                    <button class="btn btn-block" ng-class="clicked && 'btn-success' || 'btn-primary'" ng-click="clicked=1;preview(question)"><i class="icon-share icon-white"></i> Afficher</button>
                    <button class="btn btn-danger btn-block"  ng-click="remove(question)"><i class="icon-trash icon-white"></i> Supprimer</button>
                </div>
                <div ng-show="questionType=='question'">
                     <button ng-class="{true:'btn-success', false:'btn-danger'}[!!question.done]" class="btn btn-block"  ng-click="done(question)"><i ng-class="{true:'icon-ok', false:'icon-ok'}[!!question.done]"  class="icon-white"></i> Traitée</button>
                </div>
            </td>
      </tr>
    </table>

</div>
