
<div class="preview_container">
    <div class="preview whitebordered">
        <div class="theme ">{{ question.theme }}</div>
        <div  id="bigtext" ><span ng-bind-html-unsafe="question.text|nl2br"></span></div>
    </div>
</div>
<script>
(function($) {
$.fn.textfill = function(options) {
        var defaults = { innerTag: 'span', padding: '10' };
        var Opts = jQuery.extend(defaults, options);

        return this.each(function() {
            var ourText = $(Opts.innerTag + ':visible:first', this),
                fontSize = parseFloat(ourText.css('font-size'),10),
                maxHeight = $(this).parent().height()-2*Opts.padding,
                textHeight;

            do {
                // test height
                fontSize += 2;
                ourText.css('font-size', fontSize);
                textHeight = ourText.height();

            } while (textHeight < maxHeight);
        });
    };
 })(jQuery); 
$(function() {
    
    // function fixit() {
    //     var tgt = $('#bigtext');
    //     if (tgt.height()==0) {
    //         setTimeout(fixit, 500);
    //         return;
    //     }
    //     tgt.textfill({padding:50});
    // }
    // fixit();
    
});

</script>

