


<div class="ask">
    <div class="linkhome" ng-click="home()">Retour accueil</div>

    <div class="choixtheme" ng-show="questionType=='synthèse'">
        <div class="tick">&nbsp;</div> Thème : <select ng-model="theme" required="true" ng-options="value for value in themes" ></select>
    </div>

    <textarea class="whitebordered" ng-model="newQuestion" placeholder="{{ questionHelp }}..."></textarea>

    <button class="btn btn-large btn-darkgrey" ng-disabled="busy" ng-click="submit()">
        <i class="icon-white icon-ok"></i> ENVOYER
    </button>

</div>
